/* -----------------------------------------------------------------------------
 * Variables > Container.
 * -------------------------------------------------------------------------- */
:root {
  --ap-container-width: 100%;
  --ap-container-gap: 20px;

  @screen md {
    --ap-container-width: 704px;
    --ap-container-gap: 32px;
  }

  @screen lg {
    --ap-container-width: 960px;
  }

  @screen xl {
    --ap-container-width: 1168px;
    --ap-container-gap: 40px;
  }

  @screen 2xl {
    --ap-container-width: 1400px;
  }
}

.ap-container {
  margin-inline: auto;
  max-width: var(--ap-container-width);
  width: calc(100% - (var(--ap-container-gap) * 2));

  .ap-container {
    width: 100%;
  }
}
